.button {
  @include text;
  display: block;
  padding: 13px 40px;
  width: 260px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: $bg-color;
  border: 2px solid $text-color;
  cursor: pointer;
  transition-duration: 500ms;

  &--green {
    color: $bg-color;
    background-color: $design-color;
    border: none;
  }

  &:hover {
    color: $bg-color;
    background-color: $text-color;
  }

  &:active {
    color: rgba($bg-color, 0.3);
  }

  &--green:hover {
    background-color: $design-color-dark;
  }
}

@media (min-width: $tablet) {
  .button {
    padding: 14px 40px;
  }
}
