.catalog-main {
  width: 100%;
}

.catalog-main__header {
  padding: 72px 0 74px;
  margin: 0 0 30px;
  text-align: center;
  background-color: $catalog-color-light;
}

@media (min-width: $tablet) {
  .catalog-main {
    width: 100%;
  }

  .catalog-main__header {
    position: relative;
    padding: 35px 0 80px;
    margin: 0 0 80px;
    text-align: center;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -2px;
      width: 100%;
      height: 24px;
      background: url("../img/bg-zigzag-fill.svg");
    }
  }
}

@media (min-width: $desktop) {
  .catalog-main {
    width: 100%;
  }

  .catalog-main__header {
    padding: 32px 0 120px;
    margin: 0 0 110px;

    &::after {
      height: 34px;
    }
  }
}
