.catalog-main {
  width: 100%;
  margin: 0 0 62px;
}

.catalog-main__header {
  padding: 72px 0 76px;
  margin: 0 0 30px;
  text-align: center;
  background-color: $catalog-color-light;
}

@media (min-width: $tablet) {
  .catalog-main {
    width: 100%;
  }

  .catalog-main__header {
    position: relative;
    padding: 37px 0 90px;
    margin: 0 0 70px;
    text-align: center;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -2px;
      width: 100%;
      height: 24px;
      background: url("../img/bg-zigzag-fill.svg");
    }
  }
}

@media (min-width: $desktop) {
  .catalog-main {
    width: 100%;
  }

  .catalog-main__header {
    padding: 32px 0 100px;
    margin: 0 0 130px;

    &::after {
      height: 34px;
      width: 100%;
      bottom: -18px;
      background-size: 1150px 34px;
    }
  }
}
