.catalog-item {
  margin: 0 0 30px;
  border: 1px solid $catalog-color;
}

.catalog-item__photo {
  margin: 0 0 20px;
}

.catalog-item__wrapper {
  margin: 0;
  padding: 0 25px;
}

.catalog-item__header a {
  @include text-dark;
  line-height: 24px;
  margin: 0 0 10px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog-item__info {
  color: $text-color;
  font-size: 13px;
  line-height: 30px;
  margin: 0 0 18px;
}

.catalog-item__price {
  display: flex;
  justify-content: space-between;
  width: 207px;
  padding: 20px 0 26px;
  color: $text-color-dark;
  font-size: 15px;
  line-height: 24px;
  border-top: 1px solid $catalog-color;
}

.catalog-item__cart {
  border: none;
  background-color: transparent;
  margin: 0 0 0 auto;
}

.catalog-item__icon {
  width: 20px;
  height: 20px;
  opacity: 0.2;
  color: #000000;

  &:hover {
    color: $design-color;
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet) {
  .catalog-item {
    padding: 0;
    margin: 0 0 50px;
    display: flex;
  }

  .catalog-item__wrapper {
    width: 100%;
  }

  .catalog-item__photo {
    margin: 0 0 -5px;
  }

  .catalog-item__header a {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    padding: 25px 0 0;
    margin: 0 0 5px;
  }

  .catalog-item__info {
    font-size: 15px;
    line-height: 30px;
    margin: 0 0 175px;
  }

  .catalog-item__price {
    width: 100%;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    padding: 23px 0 29px 5px;
  }
}

@media (min-width: $desktop) {
  .catalog-item {
    display: block;
    flex-grow: 0;

    &:hover {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    }
  }

  .catalog-item__cart {
    cursor: pointer;
  }

  .catalog-item__info {
    margin: 0 0 40px;

    &--min {
      margin: 0 0 15px;
    }
  }

  .catalog-item__price {
    padding: 23px 0 29px 0;
  }
}
