.catalog__list {
  @include list-reset;
  padding: 0 9.4%;
}

@media (min-width: $tablet) {
  .catalog__list {
    padding: 0 calc(50% - 334px);
  }
}

@media (min-width: $desktop) {
  .catalog__list {
    display: flex;
    padding: 0 calc(50% - 525px);
    flex-wrap: wrap;
  }
}
