.contacts {
  width: 100%;
  position: relative;
}

.contacts::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 6px;
  left: 0;
  top: 0;
  background: url("../img/bg-zigzag-line.svg") repeat-x;
}

.contacts__table {
  width: 260px;
  color: $text-color;
  font-size: 15px;
  line-height: 30px;
  margin: 0 auto 40px;
}

.contacts__row {
  display: flex;
}

.contacts__header {
  width: 260px;
  padding: 50px 0 0;
  margin: 0 auto 10px;
}

.contacts__detail {
  padding: 0 0 0 30px;
}

.contacts__address {
  font-style: normal;
  padding: 15px 0 0;
}

.contacts__e-mail {
  color: inherit;
  padding: 0 0 4px;
  box-shadow: 0 1px $design-color;

  &:hover {
    color: $mail-link-color;
    box-shadow: 0 1px $mail-link-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__map {
  width: 100%;
  height: 457px;
  margin: 0 0 35px;
  background: url("../img/map-mobile@1x.jpg") no-repeat;
}

@media (min-resolution: 1.5dppx) {
  .contacts__map {
    background: url("../img/map-mobile@2x.jpg") no-repeat;
    background-size: 100% auto;
  }
}

.contacts__map iframe {
  width: 100%;
  height: 457px;
}

.contacts__write-us {
  margin: 0 auto 40px;
}

@media (min-width: $tablet) {
  .contacts {
    width: 100%;
    padding: 0 calc(50% - 334px);
    margin: 0 0 50px;
    background: url("../img/icon-flag.svg") no-repeat 670px 62px;
  }

  .contacts::before {
    content: "";
    height: 15px;
    top: 5px;
    background: url("../img/bg-zigzag-line.svg") repeat-x;
  }

  .contacts__header {
    padding: 85px 0 0;
    margin: 0 0 45px;
  }

  .contacts__table {
    display: flex;
    width: 650px;
    font-size: 17px;
    vertical-align: top;
    margin: 0 0 30px;
  }

  .contacts__row {
    margin: 0 40px 0 0;
  }

  .contacts__heading {
    margin: 0;
    flex: 1 0 20%;
  }

  .contacts__detail {
    margin: 0;
  }

  .contacts__map {
    position: relative;
    margin: 0 0 0 calc(-50% + 285px);
    background: url("../img/map-tablet@1x.jpg") no-repeat;
  }

  @media (min-resolution: 1.5dppx) {
    .contacts__map {
      background: url("../img/map-tablet@2x.jpg") no-repeat;
      background-size: 100% auto;
    }
  }

  .contacts__map iframe {
    width: 100vw;
    height: 457px;
  }

  .contacts__write-us {
    display: block;
    width: 230px;
    margin: 50px auto;
  }
}

@media (min-width: $desktop) {
  .contacts {
    display: flex;
    height: 640px;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 calc(50% - 540px);
    margin: 0 0 25px;
    background-position: 110px 156px;
  }

  .contacts::before {
    width: 1050px;
    height: 23px;
    left: calc(50% - 540px);
  }

  .contacts__header {
    padding: 170px 0 0 185px;
  }

  .contacts__table {
    display: block;
    width: 320px;
    padding: 0 0 0 185px;
  }

  .contacts__row {
    width: 320px;
    margin: 0 0 30px;
  }

  .contacts__heading {
    flex: none;
  }

  .contacts__address {
    padding: 0;
  }

  .contacts__map {
    position: static;
    margin: 100px 20px 0 200px;
    flex: 1 0 50%;
    order: 5;
    background: url("../img/map-desktop@1x.jpg") no-repeat;
  }

  @media (min-resolution: 1.5dppx) {
    .contacts__map {
      background: url("../img/map-desktop@2x.jpg") no-repeat;
      background-size: 100% auto;
    }
  }

  .contacts__map iframe {
    width: 525px;
    height: 457px;
  }

  .contacts__write-us {
    position: absolute;
    left: 27%;
    bottom: 35px;
  }
}
