.contacts__table {
  color: $grey;
  font-size: 15px;
  line-height: 30px;
}

.contacts__heading {
  font: inherit;
  padding: 30px;
}

.contacts__address {
  font-style: normal;
}

.contacts__e-mail {
  color: inherit;
  padding-bottom: 4px;
  box-shadow: 0 1px $green;
}
