.copyright {
  width: 95vw;
  margin: auto;
  padding: 25px;
  display: flex;
  justify-content: center;
}

.copyright__text {
  display: block;
  font-size: 19px;
  line-height: 18px;
  margin: 0 15px;
}

.copyright__link {
  display: block;
  margin: 0 15px;
}

@media (min-width: $tablet) {
  .copyright {
    margin: 0;
    align-items: center;
    justify-content: flex-end;
  }
}
