.copyright {
  width: 95vw;
  margin: auto;
  padding: 25px;
  display: flex;
  justify-content: center;
}

.copyright__link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  color: $text-color-dark;
  margin: 0 15px;
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;

  b {
    padding: 0 0 8px;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__icon {
  width: 26.943px;
  height: 34.09px;
  color: $design-color;
  transition-duration: 200ms;

  &:hover {
    color: $mail-link-color;
  }
}

@media (min-width: $tablet) {
  .copyright {
    margin: 0;
    padding: 40px 0 35px 33px;
    align-items: center;
    justify-content: space-between;
    flex: 1 0 30%;
  }

  .copyright__link {
    margin: 0;
  }

  .copyright__icon {
    margin: 0 0 0 auto;
  }
}

@media (min-width: $desktop) {
  .copyright {
    padding: 40px 18px 35px 140px;
  }
}
