.form {
  padding: 0 30px;
}

.form__legend {
  color: $design-color;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  padding: 20px 0;
  text-transform: uppercase;
}

.form__label {
  @include text-dark;
  line-height: 18px;
  padding: 10px 0;
}

.form__small {
  color: $text-color;
  font-size: 14px;
  line-height: 16px;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet) {
  .form__wrapper {
    &--tel {
      flex-direction: row;
    }

    &--mail {
      flex-direction: row;
    }
  }

  .form__color {
    background-color: $catalog-color-light;
  }

  .form__tel {
    background-color: $catalog-color-light;
  }

  .form__mail {
    background-color: $catalog-color-light;
  }

  .form__small {
    display: block;
    float: right;
    margin: 50px 0 0;
  }

  .form__button {
    margin: 40px 0 0;
  }
}

@media (min-width: $desktop) {
  .form {
    padding: 0 170px 0 100px;
  }
}
