.form__legend {
  color: #63d1bb;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.form__label {
  color: $black;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
}

.form__small {
  color: $grey;
  font-size: 14px;
  line-height: 16px;
}
