.form-main {
  width: 100%;
  margin: 0 auto;
}

.form-main__header {
  padding: 70px 40px 75px;
  background-color: $catalog-color-light;
  margin: 0 0 24px;
}

.form-main__text {
  color: $text-color;
  font-size: 13px;
  line-height: 24px;
  padding: 0 15% 0 9.4%;
  margin: 0;
}

@media (min-width: $tablet) {
  .form-main {
    width: 100%;
  }

  .form-main__header {
    text-align: center;
    padding: 30px 3.26% 80px;
    margin: 0 0 75px;
  }

  .form-main__text {
    font-size: 17px;
    line-height: 30px;
    padding: 0 6.5%;
    margin: 0 0 52px;
  }
}

@media (min-width: $desktop) {
  .form-main {
    width: $desktop;
  }
}
