html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}
