.main-content {
  min-height: 490px;
  margin: 0 0 24px;
  background: $bg-color-light url("../img/hero-mobile@1x.jpg") no-repeat 50% -20px;
}

@media (min-resolution: 1.5dppx) {
  .main-content {
    background: $bg-color-light url("../img/hero-mobile@2x.jpg") no-repeat 50% -20px;
    background-size: 575px auto;
  }
}

.main-content__header {
  width: 260px;
  padding: 73px 0;
  margin: 0 auto;
  text-align: center;
}

.main-content__catalog {
  @include list-reset;
  margin: 47px 0 0;
  color: $bg-color;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
}

.main-content__item--interior {
  background: $design-color;
}

.main-content__item--toys {
  background: $design-color-dark;
}

.main-content__link {
  display: block;
  width: 260px;
  padding: 27px 130px 28px 0;
  margin: 0 auto;
  color: $bg-color;

  &--interior {
    background: $design-color url("../img/interior.svg") no-repeat 100%;
  }

  &--toys {
    background: $design-color-dark url("../img/toy.svg") no-repeat 100%;
  }
}

@media (min-width: $tablet) {
  .main-content {
    min-height: 685px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $bg-color-light url("../img/hero-tablet@1x.jpg") no-repeat 50% -60px;
  }

  @media (min-resolution: 1.5dppx) {
    .main-content {
      background: $bg-color-light url("../img/hero-tablet@2x.jpg") no-repeat 50% -60px;
      background-size: 1150px auto;
    }
  }

  .main-content__header {
    width: 500px;
    padding: 92px 0;
  }

  .main-content__catalog {
    display: flex;
    padding: 0 calc(50% - 334px);
    margin: 0;
  }

  .main-content__item {
    width: 334px;
    font-size: 20px;
    line-height: 30px;
  }

  .main-content__link {
    padding: 32px 130px 30px 0;
  }
}

@media (min-width: $desktop) {
  .main-content {
    width: 100%;
    min-height: 678px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 calc(50% - 525px);
    background: $bg-color-light url("../img/hero-desktop@1x.jpg") no-repeat 50% -65px;
  }

  @media (min-resolution: 1.5dppx) {
    .main-content {
      background: $bg-color-light url("../img/hero-desktop@2x.jpg") no-repeat 50% -65px;
      background-size: 1150px auto;
      margin: 0;
    }
  }

  .main-content__header {
    text-align: center;
    width: 650px;
    padding: 90px 0;
  }

  .main-content__catalog {
    padding: 0;
    margin: 270px 0 0;
  }

  .main-content__item {
    width: 525px;
    transition-duration: 200ms;

    &:hover {
      transform: scaleY(1.05);
    }

    &:hover .main-content__link {
      padding: 23px 37px 45px;
    }

    &:active .main-content__link {
      opacity: 0.3;
    }
  }

  .main-content__link {
    width: 100%;
    padding: 28px 37px 35px;
    background-position: 450px center;
    transition-duration: 200ms;

    &--toys {
      background-position: 427px center;
    }
  }
}
