.main-content {
  background: url("../../img/hero-mobile@1x.jpg") no-repeat;
}

.main-content__catalog {
  color: #{$white};
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
}

.main-content__item--interior {
  background-color: #{$green};
}

.main-content__item--toys {
  background-color: #{$green-dark};
}

.main-content__link {
  display: block;
  padding: 30px;
  color: #{$white};
}
