.manufacture {
  border: 1px solid #{$silver};
  padding: 34px;
}

.manufacture__header {
  padding: 30px 90px;
  background: url("../img/icon-video.svg") no-repeat 33px 30px;
}

.manufacture__text {
  color: #{$grey};
  font-size: 13px;
  line-height: 24px;
  padding: 34px 0;
}
