.modal-overlay-js {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($bg-color, 0.9);
  z-index: 90;
}

.modal-overlay-js--show {
  display: block;
}
