.navigation__menu {
  @include list-reset;

  &--closed {
    display: none;
  }

  &--opened {
    display: block;
  }
}

.navigation__item {
  border-bottom: 1px solid $border-color-header;
}

.navigation__link {
  display: block;
  width: 320px;
  padding: 27px 75px;
  margin: 0 auto;
  color: $text-color-dark;
  transition-duration: 200ms;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.navigation__toggle {
  display: none;
}

@media (max-width: $mobile) {
  .navigation__toggle {
    display: block;
    position: absolute;
    top: 30px;
    right: 9.37%;
    width: 20px;
    height: 2px;
    padding: 0;
    background-color: $text-color-dark;
    border: 0 none;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      margin-left: -10px;
      width: 20px;
      height: 2px;
      background-color: $text-color-dark;
      transition-duration: 500ms;
    }

    &::before {
      margin-top: -5.5px;
    }

    &::after {
      margin-top: 4px;
    }

    &:focus {
      outline: none;
    }
  }

  .navigation__toggle--opened {
    width: 1px;
    height: 1px;
    background-color: transparent;

    &::before {
      width: 27px;
      transform: translateX(-15px) translateY(7px) rotate(45deg);
    }

    &::after {
      width: 27px;
      transform: translateX(-15px) translateY(-3px) rotate(-45deg);
    }
  }

  .navigation__toggle--no-js {
    display: none;
  }
}

@media (min-width: $tablet) {
  .navigation {
    background-color: $bg-color-light;
    flex-grow: 1;
    order: 3;
  }

  .navigation__menu {
    display: flex;
    justify-content: flex-start;
    padding: 0 0 0 5.8%;
    font-size: 15px;
    font-weight: 700;
    order: 2;

    &--grey {
      background-color: $catalog-color-light;
    }
  }

  .navigation__item {
    border: none;
  }

  .navigation__link {
    width: auto;
    padding: 18px 24px;
  }
}

@media (min-width: $desktop) {
  .navigation {
    height: 88px;
    padding: 0 0 0 calc(50% - 550px);
    background-color: $bg-color;
    border-bottom: 1px solid $border-color-header;
    flex: 1 0 33%;
    order: 1;
  }

  .navigation__menu {
    padding: 0;

    &--grey {
      background: $bg-color;
    }
  }

  .navigation__item {
    border-bottom: none;

    &--knitting {
      border-left: 1px solid $border-color-header;
    }
  }

  .navigation__link {
    @include text-dark;
    padding: 30px 40px 30px 30px;
    line-height: 24px;
    min-height: 87px;

    &--grey {
      border-right: 1px solid $border-color-header;
    }
  }
}
