.navigation__menu {
  @include list-reset;

  &--closed {
    display: none;
  }
}

.navigation__item {
  border-bottom: 1px solid $border-color-header;
}

.navigation__link {
  display: block;
  width: 320px;
  padding: 30px 75px;
  margin: 0 auto;
  color: $text-color-dark;
}

.navigation__toggle {
  display: none;
}

@media (max-width: $mobile) {
  .navigation__toggle {
    display: block;
    position: absolute;
    top: 32px;
    right: 9.37%;
    width: 20px;
    height: 2px;
    background-color: $text-color-dark;
    border: 0 none;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      margin-left: -10px;
      width: 20px;
      height: 2px;
      background-color: $text-color-dark;
    }

    &::before {
      margin-top: 4px;
    }

    &::after {
      margin-top: -6px;
    }
  }

  .navigation__toggle--opened {
    transform: translateY(8px) rotate(-45deg);

    &::before {
      transform: translateY(-4px) rotate(90deg);
    }

    &::after {
      display: none;
    }
  }
}

@media (min-width: $tablet) {
  .navigation {
    background-color: $bg-color-light;
    flex-grow: 1;
    order: 3;
  }

  .navigation__menu {
    display: flex;
    justify-content: flex-start;
    padding: 0 0 0 5.8%;
    font-size: 15px;
    font-weight: 700;
    order: 2;

    &--grey {
      background-color: $catalog-color-light;
    }
  }

  .navigation__item {
    border: none;
  }

  .navigation__link {
    width: auto;
    padding: 20px 24px;
  }
}

@media (min-width: $desktop) {
  .navigation {
    height: 88px;
    padding: 0 0 0 calc(50% - 550px);
    background-color: $bg-color;
    border-bottom: 1px solid $border-color-header;
    order: 1;
  }

  .navigation__menu {
    padding: 0;
  }

  .navigation__item {
    border-bottom: none;

    &--knitting {
      border-left: 1px solid $border-color-header;
    }
  }

  .navigation__link {
    @include text-dark;
    padding: 30px 40px 30px 30px;
    line-height: 24px;
    min-height: 88px;

    &--grey {
      border-right: 1px solid $border-color-header;
    }
  }
}
