.page-footer {
  background-color: $light-grey;
  display: flex;
  flex-direction: column;
  margin: 40px auto 0;
}

.page-footer__logo {
  display: none;
}

@media (min-width: $tablet) {
  .page-footer__logo {
    display: block;
  }

  .page-footer {
    width: $tablet;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (min-width: $desktop) {
  .page-footer {
    width: $desktop;
  }
}
