.page-header {
  @include text-dark;
  line-height: 24px;
  margin: 0 auto;
  padding: 0;
  background-color: $bg-color;
}

.page-header__logo {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  border-bottom: 1px solid $border-color-header;
}

.page-header__input-search {
  position: relative;
  display: block;
  width: 320px;
  color: $text-color-dark;
  background-color: transparent;
  padding: 32px 30px 30px;
  margin: 0 auto 0 0;
  border: none;
}

.page-header__input-search::placeholder {
  @include text-dark;
  line-height: 24px;
  font-family: "Open Sans", "Arial", sans-serif;
}

.page-header__icon {
  width: 20px;
  height: 20px;
  opacity: 0.2;
  color: $text-color-dark;

  &:hover {
    color: $design-color;
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__cart {
  display: block;
  width: 320px;
  padding: 28px 30px;
  margin: 0 auto 0 0;
  color: $text-color-dark;
}

.page-header__button {
  flex-basis: 20%;
  text-align: end;
  background: transparent;
  padding: 0;
  margin: 0 0 0 auto;
  border: none;
}

.page-header__text {
  display: none;
  flex-grow: 1;
  padding: 20px 50px;
  margin: 0;
  color: $text-color;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  background-color: $bg-color-light;
}

@media (min-width: $tablet) {
  .page-header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .page-header__logo {
    flex-grow: 1;
    padding: 20px 0 15px 6.2%;
    justify-content: start;
  }

  .page-header__input-search {
    display: none;
    width: 85px;
    padding: 0;
  }

  .page-header__input-search::placeholder {
    visibility: hidden;
  }

  .page-header__button--search {
    margin: 0 auto;
  }

  .page-header__cart {
    width: 290px;
  }

  .page-header__text {
    display: block;
    padding: 18px 6.2% 0 0;
    margin: 0 0 0 auto;
    text-align: right;
    order: 4;

    &--grey {
      background-color: $catalog-color-light;
    }
  }
}

@media (min-width: $desktop) {
  .page-header {
    width: 100%;
  }

  .page-header__logo {
    display: block;
    height: 88px;
    flex: 1 0 10%;
    border-bottom: 1px solid $border-color-header;
    order: 2;
    padding: 10px 0 0 45px;

    &:hover img {
      opacity: 0.6;
    }

    &:active img {
      opacity: 0.3;
    }
  }

  .page-header__button {
    cursor: pointer;
  }

  .page-header__text {
    text-align: right;
    order: 5;
    padding: 20px calc(50% - 525px) 0 0;
  }

  .page-header__cart {
    min-height: 88px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
