.page-footer {
  background-color: $catalog-color-light;
  display: flex;
  flex-direction: column;
}

.page-footer__logo {
  display: none;
}

.page-footer__icon {
  width: 101.615px;
  height: 35px;
  color: $text-color-dark;
  transition-duration: 200ms;

  &--social {
    width: 22px;
    height: 28px;
  }

  &:hover {
    color: $mail-link-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__copyright {
  border-top: 1px solid $divider;
}

@media (min-width: $tablet) {
  .page-footer {
    width: 100%;
    min-height: 143px;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 calc(50% - 334px);
  }

  .page-footer__logo {
    display: flex;
    align-items: center;
    flex: 1 0 30%;
  }
}

@media (min-width: $desktop) {
  .page-footer {
    width: 100%;
    padding: 0 calc(50% - 540px);
    justify-content: space-between;
  }

  .page-footer__logo {
    align-items: center;
    flex: 1 0 33%;
    padding: 0 0 7px 15px;
    cursor: pointer;
  }

  .page-footer__logo svg {
    height: 34px;
  }

  .page-footer__icon--social-fb {
    width: 15px;
  }

  .page-footer__social {
    flex: 1 0 33%;
    padding: 30px 60px;
  }

  .page-footer__copyright {
    flex: 0 1 33%;
  }
}
