.page-footer {
  background-color: $light-grey;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.page-footer__logo {
  display: none;
}

@media (min-width: $tablet) {
  .page-footer__logo {
    display: block;
  }

  .page-footer {
    flex-direction: row;
    justify-content: space-around;
  }
}
