.promo-week {
  width: 81%;
  padding: 0;
  margin: 0 auto;
}

.promo-week__adv {
  color: $design-color;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.promo-week__info {
  color: $text-color;
  font-size: 15px;
  line-height: 24px;
  padding: 5px 0 0;
  margin: 0 0 20px;
}

.promo-week__price {
  color: $text-color;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  margin: 20px 0 25px;
}

.promo-week__header {
  padding: 5px 0 0;
  margin: 0 0 5px;
}

@media (min-width: $tablet) {
  .promo-week {
    width: 86%;
    position: relative;
  }

  .promo-week::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: -110px;
    width: 100%;
    height: 24px;
    background: url("../../img/bg-zigzag-fill.svg");
  }

  .promo-week__wrapper {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
  }

  .promo-week__adv {
    width: 80px;
    text-align: center;
  }

  .promo-week__image {
    float: right;
    margin: -250px 0 0;
  }

  .promo-week__info {
    width: 290px;
  }

  .promo-week__price {
    width: 290px;
  }

  .promo-week__order {
    width: 290px;
  }
}

@media (min-width: $desktop) {
  .promo-week {
    padding: 0 calc(50% - 540px);
    margin: 0;
  }

  .promo-week::before {
    left: 0;
    top: -110px;
    width: 100%;
    height: 34px;
  }
  .promo-week__wrapper {
    position: relative;
    width: 670px;
    margin: 100px 0 45px;
    z-index: 2;
  }

  .promo-week__header {
    order: 2;
  }

  .promo-week__adv {
    align-self: flex-end;
    margin: 0 0 0 60px;
  }

  .promo-week__info {
    font-size: 17px;
    line-height: 30px;
    margin: 0 0 45px 195px;
  }

  .promo-week__price {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 30px 195px;
  }

  .promo-week__order {
    margin: 0 0 0 195px;
  }

  .promo-week__image {
    margin: -500px 0 0;
  }
}
