.promotion {
  @include list-reset;
  display: none;
  background-color: $bg-color-light;
  flex-grow: 1;
}

.promotion__item {
  padding: 0;
}

.promotion__link {
  display: block;
  color: $text-color-dark;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  padding: 20px 20px 20px 50px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $desktop) {
  .promotion {
    display: flex;
    order: 4;
    padding: 0 0 0 calc(50% - 575px);

    &--grey {
      background-color: $catalog-color-light;
    }
  }
}
