.promo-table {
  width: 100%;
  color: $text-color;
  border-collapse: collapse;
  margin: 0 0 30px;
}

.promo-table__header {
  color: $text-color;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-align: start;
  padding: 8px 0;
  border-bottom: 1px solid $border-color-table;
}

.promo-table__detail {
  padding: 8px 0 8px 20px;
  border-bottom: 1px solid $border-color-table;
}

@media (min-width: $tablet) {
  .promo-table {
    width: 290px;
    margin: 0 0 55px;
  }

  .promo-table__detail {
    font-size: 15px;
    line-height: 20px;
    padding: 10px 0 10px 10px;
  }

  .promo-table__header {
    padding: 10px 0;
  }
}

@media (min-width: $desktop) {
  .promo-table {
    margin: 0 0 115px 195px;
  }
}
