.promo-week {
  width: 100%;
  padding: 0 9.4%;
  margin: 0 auto 40px;
}

.promo-week__adv {
  display: block;
  color: $design-color;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0 0 20px;
}

.promo-week__info {
  color: $text-color;
  font-size: 15px;
  line-height: 24px;
  padding: 5px 0 0;
  margin: 0 0 20px;
}

.promo-week__image {
  width: 100%;
}

.promo-week__price {
  color: $text-color;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  margin: 20px 0 25px;
}

.promo-week__header {
  padding: 5px 0 0;
  margin: 0 0 5px;
}

.promo-week__order {
  margin: 0 auto;
}

@media (min-width: $tablet) {
  .promo-week {
    width: 100%;
    position: relative;
    padding: 20px calc(50% - 334px) 0;
    margin: 0 0 50px;
  }

  .promo-week::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: -35px;
    width: 100%;
    height: 24px;
    background: url("../img/bg-zigzag-fill.svg");
  }

  .promo-week__wrapper {
    display: flex;
    margin: 0 auto 20px;
    justify-content: space-between;
  }

  .promo-week__adv {
    width: 80px;
    text-align: center;
    padding: 12px 95px 0 0;
  }

  .promo-week__image {
    width: 333px;
    float: right;
    margin: -290px 0 0;
  }

  .promo-week__info {
    width: 290px;
    font-size: 17px;
    line-height: 30px;
    padding: 7px 0 0;
    margin: 0 0 37px;
  }

  .promo-week__price {
    width: 290px;
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 35px;
  }

  .promo-week__order {
    width: 290px;
    margin: 0;
  }
}

@media (min-width: $desktop) {
  .promo-week {
    padding: 0 calc(50% - 540px);
    margin: 0 0 70px;
  }

  .promo-week::before {
    left: 0;
    top: -139px;
    width: 100%;
    height: 34px;
  }

  .promo-week__wrapper {
    position: relative;
    width: 670px;
    margin: 110px 0 38px;
    z-index: 2;
  }

  .promo-week__header {
    order: 2;
  }

  .promo-week__adv {
    align-self: flex-end;
    padding: 0 0 10px;
    margin: 0 0 0 60px;
  }

  .promo-week__info {
    font-size: 17px;
    line-height: 30px;
    margin: 0 0 45px 190px;
  }

  .promo-week__price {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 35px 190px;
  }

  .promo-week__order {
    margin: 0 0 0 190px;
  }

  .promo-week__image {
    width: 525px;
    margin: -530px 20px 0 0;
  }
}
