.review {
  width: 100%;
  padding: 0 9.4%;
  margin: 0 0 40px;
}

.review__item {
  margin: 0;
}

.review__text {
  width: 260px;
  color: $text-color;
  font-size: 15px;
  line-height: 30px;
  margin: 25px 0;
}

.review__author-name {
  @include text-dark;
  display: block;
  margin: 0 0 5px;
  line-height: 24px;
  font-style: normal;
}

.review__author-contact {
  display: block;
  color: $text-color;
  font-size: 17px;
  line-height: 30px;
}

.review__toggle {
  display: flex;
  padding: 40px 0;
  margin: 0 0 10px;
}

.review__prev {
  height: 30px;
  width: 130px;
  align-self: flex-start;
  background: url("../img/icon-left-arrow.svg") no-repeat 50%;
  border: none;
}

.review__next {
  height: 30px;
  width: 130px;
  background: url("../img/icon-right-arrow.svg") no-repeat 50%;
  border: none;
}

@media (min-width: $tablet) {
  .review {
    width: 100%;
    position: relative;
    display: block;
    background: url("../img/review@1x.jpg") no-repeat left 10px;
    padding: 90px 50px;
    margin: 0 0 25px;
  }

  @media (min-resolution: 1.5dppx) {
    .review {
      background: url("../img/review@2x.jpg") no-repeat left 10px;
      background-size: 350px auto;
    }
  }

  .review__text {
    width: 650px;
    margin: 50px 0 55px;
  }

  .review__toggle {
    position: absolute;
    right: 50px;
    bottom: 50px;
    width: 168px;
    order: 4;
  }

  .review__write {
    position: absolute;
    right: 45px;
    top: 90px;
    width: 174px;
    text-align: center;
    margin: 0 0 0 auto;
  }
}

@media (min-width: $desktop) {
  .review {
    width: 1054px;
    min-height: 457px;
    margin: 0 auto 67px;
    padding: 80px 0 0 170px;
  }

  .review__header {
    margin: 0 0 45px;
  }

  .review__text {
    width: 780px;
    font-size: 17px;
    line-height: 30px;
    margin: 0 0 40px;
  }

  .review__write {
    right: 5px;
  }

  .review__toggle {
    top: 280px;
    right: 5px;
  }

  .review__prev {
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .review__next {
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
