.social-list {
  @include list-reset;
  display: flex;
  justify-content: space-around;
  width: 260px;
  padding: 30px;
  margin: 0 auto;
}

@media (min-width: $tablet) {
  .social-list {
    flex: 1 0 33%;
    align-items: center;
  }
}
