.social-list {
  @include list-reset;
  display: flex;
  justify-content: space-around;
  width: 260px;
  padding: 30px 35px 20px;
  margin: 0 auto;
}

.social-list__item {
  cursor: pointer;

  // &:hover path {
  //   fill: $mail-link-color;
  // }

  // &:active {
  //   opacity: 0.3;
  // }
}

@media (min-width: $tablet) {
  .social-list {
    flex: 1 0 33%;
    align-items: center;
  }
}

@media (min-width: $desktop) {
  .social-list {
    padding: 30px 80px;
  }
}
