.social-list {
  @include list-reset;
  display: flex;
  justify-content: space-around;
  width: 260px;
  padding: 27px 42px 20px;
  margin: 0 auto;
}

.social-list__item {
  cursor: pointer;
}

@media (min-width: $tablet) {
  .social-list {
    flex: 1 0 33%;
    justify-content: space-between;
    align-items: center;
    padding: 25px 47px 15px;
  }
}

@media (min-width: $desktop) {
  .social-list {
    flex: none;
    width: 350px;
    padding: 30px 120px 30px 90px;
  }

  .social-list__item--min {
    padding: 8px 0 0;
  }
}
