@font-face {
  font-family: "Open Sans", "Arial", sans-serif;
  font-display: swap;
  src: url("../fonts/opensans.woff") format("woff"),
    url("../fonts/opensansbold.woff") format("woff"),
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensansbold.woff2") format("woff2");
}
