$black: #000000;

$grey: #444444;

$white: #ffffff;

$green: #63d1bb;

$light-grey: #f1f1f1;

$silver: #ededed;

$green-dark: #56c3b2;

$bg-color-light:#f9f9f9;

$border-color-header: #e7e7e7;

$border-color-table: #ececec;

$divider: #e5e5e5;

$tablet: 768px;

$desktop: 1150px;
