$text-color-dark: #000000;

$text-color: #444444;

$bg-color: #ffffff;

$design-color: #63d1bb;

$catalog-color-light: #f1f1f1; /*light-grey*/

$catalog-color: #ededed; /*silver*/

$design-color-dark: #56c3b2;

$bg-color-light:#f9f9f9;

$border-color-header: #e7e7e7;

$border-color-table: #ececec;

$divider: #e5e5e5;

$tablet: 768px;

$desktop: 1150px;
